body {
    background-color: black;
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

.timer {
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

audio {
    display: none;
}
